<div class="proof-strip">
  <div class="wrap">
    <div class="proof-inner">
      <div class="pf-stat">
        <div class="pf-n count-up" data-target="5000" data-suffix="+">5000+</div>
        <div class="pf-l">Dogs Trained</div>
      </div>
      <div class="pf-div"></div>
      <div class="pf-stat">
        <div class="pf-n count-up" data-target="18" data-suffix="+">18+</div>
        <div class="pf-l">Years</div>
      </div>
      <div class="pf-div"></div>
      <div class="pf-stat">
        <div class="pf-n">Netflix</div>
        <div class="pf-l">Featured</div>
      </div>
      <div class="pf-div"></div>
      <div class="pf-stat">
        <div class="pf-n">Oakland</div>
        <div class="pf-l">HQ</div>
      </div>
      <div class="pf-div"></div>
      <div class="pf-stat">
        <div class="pf-n count-up" data-target="100" data-suffix="%">100%</div>
        <div class="pf-l">Commitment</div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Proof Strip",
  "presets": [{ "name": "Proof Strip" }]
}
{% endschema %}
